---
extends: default

# SealedSecret encryptedData fields are base64 blobs that can't be wrapped
# without breaking decryption. Skip yamllint entirely on those files.
ignore: |
  **/*.sealedsecret.yaml

rules:
  line-length:
    max: 140
  braces:
    max-spaces-inside: 1
  comments:
    min-spaces-from-content: 1
  comments-indentation: disable
  document-start: disable
  indentation:
    indent-sequences: consistent
